.env
__pycache__/
*/__pycache__/
*/*/__pycache__/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*.py[cod]
gen-lang-client-0711819672-fd13e65054c6.json
.DS_Store
.vscode
.pytest_cache
notes.md
venv
.cursor/
.idea/
.venv/
.vscode/
embedding_cache/
.embedding_cache/
model_cache/