fastapi
uvicorn
langchain
openai
faiss-cpu
arxiv
googlesearch-python
python-dotenv
langchain_openai
wikipedia
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
langgraph
IPython
graphviz
langchain-community
grpcio
grpcio-status
duckduckgo-search
gpt-research
black